# -----------------------
# macOS
# -----------------------

.DS_Store
.AppleDouble
.LSOverride

# -----------------------
# Python
# -----------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual environments
venv/
.env/

# -----------------------
# Pandoc / LaTeX
# -----------------------

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# -----------------------
# Generated documents
# -----------------------

venv-morpho/
roi_out/
mask_out/
results.csv
__pycache__/
*.pyc
.DS_Store

# -----------------------
# Temporary files
# -----------------------

*.swp
*.tmp
